<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/base.css')}}">
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/button.css')}}">>
</head>
<body>
	<br><br><br><br><br><br><br>
	<h1 style="text-align:center; color:white;">{{title}}</h1>
	<br>w
		<hr>
   <br><br><br><br><br><br><br><br><br>

	   <div><a class="button purple" href="{{url_for('.view')}}">查询作业情况</a></div><br>
		<div><a class="button red" href="{{url_for('.check')}}">开始检查作业</a></div><br>
		<div><a class="button orange" href="{{url_for('.student')}}">录入学生信息</a></div><br>
</body>
</html>